<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Art Scraper Output</title>
    <link href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/angular@1.6.1/angular.js"></script>
    <script>
    var app = angular.module('art-scraper', [])
    app.controller('main', function($http, $scope) {
        $http.get('output.json')
        .then(function (response) {
            var data = response.data
            $scope.dictionary = data
        })
    })
    </script>
</head>
<body>
    <div ng-app="art-scraper">
        <div ng-controller="main">
            <input type="text" placeholder="search" ng-model="filter">
            <ul>
                <li ng-repeat="(k, record) in dictionary">
                    <label>
                        <h2>{{k}}</h2>
                        <div
                          ng-repeat="(year, shows) in record"
                        >
                          <a class="btn btn-link" ng-click="displayShows = !displayShows">
                            {{year}}
                          </a>
                          <div ng-if="displayShows">
                            <div ng-repeat="show in shows" class="">
                              <h3>{{show.type}}: {{show.title}}
                                <br>  
                                <small>{{show.gallery}}</small>
                              </h3>
                              <p><span ng-if="show.location">{{show.location}},</span> {{show.country}}</p>
                            </div>
                          </div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>  
    </div>
</body>
</html>
